version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: stock_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  jupyter:
    image: jupyter/scipy-notebook:latest
    container_name: stock_jupyter
    ports:
      - "8888:8888"
    volumes:
      - .:/home/jovyan/work
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - JUPYTER_TOKEN=958386fe274211cf3c951533bb06c43cba3922c3915fab82

volumes:
  mongo_data: